{% block content %}
<div>
  <h3>User data:</h3>
  <table>
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
	<tr class="even"><th>Summary:</th> <td>{{ summary }}</td></tr>
	<tr class="odd"><th>Skills:</th>
	<ul>
	<td>
	{% for s in skill_list %}
	<li>
	{{ s }}<br>
	</li>
	{% endfor %}
	</td>
	</tr>
	</ul>
	<tr class="even"><th>Country:</th> <td>{{ country }}</td></tr>
	<tr class="even"><th>City:</th> <td>{{ city }}</td></tr>
  </table>
</div>

<a href="/users/update_profile/">Update your profile</a>
<a href="/">To main page</a>
{% endblock %}