<html>
<head>
<title>Profile App Example</title>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.5b1.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>  


</head>
<body class="yui3-skin-sam     yui-skin-sam">
<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="{{ user.linkedin_public_profile_url }}"
data-format="inline" data-related="true"></script>
</body>
</html>